__pycache__
data/reconstructions
data/TSLA
data/checkpoints
data/plot
lightning_logs/
data/generated_orders.csv
data/real_orders.csv
wandb/
output
launch.sh
launch_sim.sh
evaluation/visualizations/prova.ipynb