__pycache__
data/reconstructions
data/TSLA
data/INTC/
data/INTC/INTC_2015-01-02_2015-01-30/
data/checkpoints
data/plot
lightning_logs/
data/generated_orders.csv
data/real_orders.csv
wandb/
output
launch.sh
launch_sim.sh
evaluation/visualizations/prova.ipynb
